<h1>Blessed be thy wallet!</h1>

<% @order.products.each do |product| %>
    <p><%= product.name %></p>
    <p><%= price_display(product.price) %></p>
  <% end %>
<h2>Total paid:</h2>
<%= price_display(@total) %> 
