@import 'products/index';
@import 'form';
// @import 'products/show';
// @import 'products';
@import 'sidebar';

// $background: linear-gradient(315deg, #ec9f05 0%, #fc575e 74%);
// $background: linear-gradient(315deg, #ec9f05 0%, rgb(29, 172, 141) 65%);
$background: linear-gradient(315deg, #8ad1d9 0%, #177687 74%);
// $background-image: linear-gradient(to bottom left, #020f24d8 0%, #ffffff91 100%), url("2804174.jpg");



$background-image: linear-gradient(to bottom, rgba(23, 132, 132, 0) 70%, #046b6875 100%), url("S_6100_170913.jpg"); 
// $background-image: url("S_6100_170913.jpg"); 



// $background-image: linear-gradient(to bottom left, #585b5e3a 75%, #062027d8 100%), url("2753862.jpg");
$nav-background: linear-gradient(315deg, #046b68 0%, #78CDD7 84%);
// $inset-shadow: inset 0px 0px 7px 0px #75061a; bordo
$inset-shadow: inset 0px 0px 7px 0px #12414e;
// $button-color: #A4B494;
$button-color: #d4c789c4;
// $card-background: #13202e71;



body {
margin-left: 0;
padding: 0;
background-image: $background-image;
// background: $background;
background-attachment: fixed;
background-size: cover;
background-position: top;
// font-family: 'Almendra', serif;
font-family: 'Caudex', serif;
color: #d2d3d6;

h1, h2 {
  color: #d2d3d6;
}

.content{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);

  h1 {
    text-align: center;
  }

}

.card-title {font-family: 'Averia Libre', cursive;}
h2 {font-family: 'Averia Libre', cursive;}

.btn {
  font-family: 'Almendra', serif;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin: 20px 0px;
  border: 1px solid black;
  padding: 12px 25px;
  color: buttontext;
  // background-color: #A4B494; pale-green
  background-color: $button-color;
  // background-color: #ec9f05d3;
  box-sizing: border-box;
  box-shadow: $inset-shadow;
  display: block; 
  font-weight: bold;
  align-self: center;
  // border-radius: 5px 4px 7px 3px;
  }

  .btn:hover {
    color: black;
  }

  .btn-cancel {
    background-color: rgb(241, 39, 12);
  }

  .btn-cancel:hover {
    background-color: rgb(219, 72, 72);
    transition: 0.5s;
  }

a {
    text-decoration: none;
    text-align: right;
    align-self: center;
    color: #d2d3d6;
  }

a:hover {
  color: #4f954a;
}
}



nav {
  height: 50px;
  font-family: 'Almendra', serif;
  position: fixed;
  top: 0;
  width: 100%;
  background: $nav-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: $inset-shadow;
  // position: relative;

  a {
    color: rgb(42, 5, 10);
  }

  * {
    margin: 20px 20px;
    text-align: right;
    font-size: 18pt;
  }
  .user-name {
    text-align: end;
    margin-left: auto;
  }
  
}

