$inset-shadow: inset 0px 0px 7px 0px #12414e;
$card-background: #00858346;

.container {
  width: 60vw;
  margin-left: 22%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  // vertical-align: space-evenly;

  .btn {
    padding: 7px 18px;
  }

  .card {
    padding: 10px;
    height: 300px;
    width: 95%;
    // border: 1px solid rgb(42, 5, 10);
    box-shadow: $inset-shadow;
    background: $card-background;
  // margin-top: 50px;

    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: center;

    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    
    .card-title {
      text-align: center;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .card-subtitle {
      text-align: center;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .card-text {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5;

      padding-left: 10px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden;
    }

    .card-price {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;

      font-size: 20pt;
      font-weight: bold;
      font-family: 'Almendra', serif;
      text-align: center;
    }    
    
    
    img {
      max-width: 40%;
      max-height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 5;
    }

    .user-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }
}